.hello-world-section {
  background-color: #f1f2f3;
  display: block;
}
.hello-world-container {
  max-width: 1340px;
  flex-direction: column;
  padding: 70px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.hello-section-title {
  flex: 0 auto;
  align-items: center;
  display: flex;
}

.youtube-video {
  padding-top: 50%;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
  display: flex;
  border: 15px solid #28eea7;
  object-fit: fill;
  border-radius: 20px;
}

.hello-title {
  color: #363738;
  text-align: left;
  line-height: 1.4;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 900;
}
.hello-arrow {
  font-size: 36px;
  color: #28eea7;
  padding: 10px 20px;
  font-weight: 900;
}
.hello-circles {
  gap: 10px;
  margin-left: auto;
  display: flex;
}

.hello-circle-black {
  width: 24px;
  height: 24px;
  background-color: #363738;
  border-radius: 20px;
}
.hello-circle-grey {
  width: 24px;
  height: 24px;
  background-color: #dcdee1;
  border-radius: 20px;
}
.hello-circle-green {
  width: 24px;
  height: 24px;
  background-color: #28eea7;
  border-radius: 20px;
}
